In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
np.random.seed(42)

In [2]:
data = pd.read_excel('../Exel/data.xlsx', index_col=None)

In [3]:
data

,Measurement_number,network_device,CPU_clock_frequency_GHz,UDP_Throughput_Mb/sec,CPU_utilization_%,CPU_temperature_C
0,1,1,1500,600,50,38
1,2,1,1500,650,55,45
2,3,1,1500,700,60,52
3,4,1,1500,750,65,60
4,5,1,1500,900,70,67
5,6,2,2600,750,35,30
6,7,2,2600,800,40,31
7,8,2,2600,850,45,32
8,9,2,2600,900,50,33
9,10,2,2600,600,30,28

В таблице выше представлены результаты измерений производительности сетевых устройств №1 и №2. Они являются результатом серии экспериментов по проверке метода измерения производительности. Известно, что для всех устройств тестировали 1G интерфейс однородной смесью UDP-трафика

# Task 1

1.	Спрогнозировать значение UDP Throughput для сетевого устройства №3, имеющего параметры:

•	Тактовая частота процессора: 2 000 ГГц.

•	Утилизация процессора: 40%.

•	Температура процессора: 54 °С.

In [4]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

Непосредственно загрузим наши данные сформированные в таблице в Exel

In [5]:
data

,Measurement_number,network_device,CPU_clock_frequency_GHz,UDP_Throughput_Mb/sec,CPU_utilization_%,CPU_temperature_C
0,1,1,1500,600,50,38
1,2,1,1500,650,55,45
2,3,1,1500,700,60,52
3,4,1,1500,750,65,60
4,5,1,1500,900,70,67
5,6,2,2600,750,35,30
6,7,2,2600,800,40,31
7,8,2,2600,850,45,32
8,9,2,2600,900,50,33
9,10,2,2600,600,30,28

Наша целевая переменная это - значение UDP Throughput для сетевого устройства №3.
Далее целевая переменная - trg.
Избавляемся от ненужных для создания модели переменных.
Это наша учебная сборка.
Далее учебная сборка - trn.

In [6]:
trg = data['UDP_Throughput_Mb/sec']
trn = data.drop(['UDP_Throughput_Mb/sec',
                 'Measurement_number'], axis=1)

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score

rfc = RandomForestClassifier()
rfc.fit(trn.values, trg.values);

Обучили нашу модель.

In [8]:
prediction = rfc.predict([[3, 2000, 40, 54]]);

In [9]:
print(prediction)

[800]

Получили предсказание.

# Спрогнозированное значение UDP Throughput для сетевого устройства №3 - 800 Мбит/с

2. Спрогнозировать значения утилизации ЦП и температуры ЦП сетевого устройства №4 с тактовой частотой 1 700 ГГц для значений UDP Throughput из таблицы 2.

In [10]:
data2 = pd.read_excel('../Exel/data.xlsx', index_col=None)

In [11]:
trg2 = data2['CPU_utilization_%']
trn2 = data2.drop(['CPU_utilization_%', 'Measurement_number', 'CPU_temperature_C'], axis=1)

trg3 = data2['CPU_temperature_C']
trn3 = data2.drop(['CPU_temperature_C', 'Measurement_number', 'CPU_utilization_%'], axis=1)

In [12]:
from sklearn.linear_model import LinearRegression
rfc = LinearRegression()
arr = np.array([50, 100, 150, 200, 250, 300, 350, 400, 450, 500])
rfc.fit(trn2.values, trg2.values)

values_2_0 = []
for val in arr:
    prediction = rfc.predict([[3, 1700, val]])
    values_2_0.append(prediction)

In [13]:
np.concatenate((values_2_0[0],
                values_2_0[1],
                values_2_0[2],
                values_2_0[3],
                values_2_0[4],
                values_2_0[5],
                values_2_0[6],
                values_2_0[7],
                values_2_0[8],
                values_2_0[9],), axis=0)

array([11.39790567, 14.69979247, 18.00167926, 21.30356605, 24.60545284,
       27.90733964, 31.20922643, 34.51111322, 37.81300001, 41.11488681])

In [14]:
from sklearn.linear_model import LinearRegression
rfc = LinearRegression()
arr = np.array([50, 100, 150, 200, 250, 300, 350, 400, 450, 500])
rfc.fit(trn3.values, trg3.values)

values_2_1 = []
for val in arr:
    prediction = rfc.predict([[3, 1700, val]])
    values_2_1.append(prediction)

In [15]:
np.concatenate((values_2_1[0],
                values_2_1[1],
                values_2_1[2],
                values_2_1[3],
                values_2_1[4],
                values_2_1[5],
                values_2_1[6],
                values_2_1[7],
                values_2_1[8],
                values_2_1[9],), axis=0)

array([ 9.99490241, 12.82037411, 15.64584581, 18.47131751, 21.29678921,
       24.1222609 , 26.9477326 , 29.7732043 , 32.598676  , 35.4241477 ])

In [16]:
data = {
    'CPU_utilization_%': [values_2_0[0], values_2_0[1], values_2_0[2], values_2_0[3], values_2_0[4],
                          values_2_0[5], values_2_0[6], values_2_0[7], values_2_0[8], values_2_0[9]],
    'CPU_temperature_C': [values_2_1[0], values_2_1[1], values_2_1[2], values_2_1[3], values_2_1[4],
                          values_2_1[5], values_2_1[6], values_2_1[7], values_2_1[8], values_2_1[9]],
    'UDP_Throughput_Mb/sec': np.array([50, 100, 150, 200, 250, 300, 350, 400, 450, 500]),
    'Measurement_number': np.arange(10)
}

In [17]:
df = pd.DataFrame(data=data)

# Получаем ответ на вторую часть первого задания

In [18]:
df[['Measurement_number', 'UDP_Throughput_Mb/sec', 'CPU_utilization_%', 'CPU_temperature_C']].astype(int)

,Measurement_number,UDP_Throughput_Mb/sec,CPU_utilization_%,CPU_temperature_C
0,0,50,11,9
1,1,100,14,12
2,2,150,18,15
3,3,200,21,18
4,4,250,24,21
5,5,300,27,24
6,6,350,31,26
7,7,400,34,29
8,8,450,37,32
9,9,500,41,35